{%extends 'base.html'%}
{%block title%}
    <title>About Me</title>
{%endblock%}
{%block head%}
    <style>
        p {
          border: 2px solid black;
          outline: #4CAF50 solid 10px;
          margin: auto;  
          padding: 20px;
          text-align: center;
        }

    </style>
{%endblock%}
{%block main%}
        <p>Esta es la primera página web que hago. Mi objetivo acá era practicar python con el micro-framework Flask y poder
            hacer una galería web funcional donde se puedan subir imágenes con un título y una breve descripción.
            luego. Usé mis conocimientos básicos de html, css3 y javaScript para hacer la parte de front-end. 
            Soy conciente de que con Bootstrap podría haber hecho algo más agradable a la vista pero cuando empecé este proyecto no tenía conocimientos sobre Bootstrap.
            Ahora voy a empezar a trabajar con Boostrap y otros lenguajes de Back-end. 
        </p>
{%endblock%}
