{% extends "base.html" %}
    {%block head%}
    <link rel="stylesheet" href="../static/css/home.css">{%endblock%}
    {%block title%}Gallery Lobby{%endblock%}
    {%block main%}

    
    <div class="container">
        <div class="container-h1">
            <h1>Hello World</h1>
        
            <div class="buttons">
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
                <a href="/search">Search</a>
            </div>
        </div>
    </div>
    {%endblock%}



