{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" href="../static/css/search.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%endblock%}

{%block title%}
Search
{%endblock%}

{%block header%}

{%endblock%}

{%block main%}
<div class="head-content">
    <div class="topnav" id="myTopnav">
        <a href="/home" class="active">Home</a>
        <a href="https://github.com/juanMelgratti?tab=repositories" target="_blank">Github</a>
        <a href="#contact" target="_blank">Contact</a>
        <a href="/about" target="_blank">About Me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
</div>

<div class="top-button">
<form action="/search" method="POST">
    <input type="text" name="search" placeholder="Title or Author">
    <input type="submit" value="Search">
</form>
</div>

<div class="posts">
    <div class="post-container">
        <div id="posts" style="text-align: center";>
            {%for post in posts%}
              Title: {{post.title}}
                <div class="img">
                <img src="/static/img/{{post.img}}" alt="">
                </div>
                <div class="post-content">
                By: {{post.author}}
                
                <div class="text">
                {{post.content}}
                </div>
                Posted: {{post.date.strftime('%Y-%m-%d') }}
                <div class="post-button">
                  <a href="/posts/image/{{post.id}}">Full Image</a>  
                </div>          
              </div>
            {% endfor %}
        </div> 
    
    </div> 


    <div class="post-container" id="container-2">
        <div id="posts" style="text-align: center";>
            {%for post in title%}
                Title: {{post.title}}
                <div class="img">
                    <img src="/static/img/{{post.img}}" alt="">
                </div>
                <div class="post-content">
                By: {{post.author}}
                    
                <div class="text">
                {{post.content}}
                </div>
                Posted: {{post.date.strftime('%Y-%m-%d') }}
                <div class="post-button">
                    <a href="/posts/image/{{post.id}}">Full Image</a>  
                </div>          
                </div>
            {% endfor %}
        </div> 
        


<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>
{%endblock%}