{% extends "base.html" %}
{%block head%}
    <link rel="stylesheet" href="../static/css/signup-error.css">
{%endblock%}
{%block title%}
    Sign Up 
{%endblock%}
{%block main%}
<div class="container">
    <div class="white-box">
    <h3>Username already exist</h1>
    <div class="container-inputs">
    <form method="post" action="{{ url_for('signup') }}">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="password" name="password"></p>
        <p>Confirm Password: <input type="password" name="confirm"></p>
        <p>Secrect Word: <input type="text" name="secret_word" maxlength="10"></p>
    </div>
    <div class="submit">
        <input type="submit" value="Sign Up">
    </div>
    </form>
    </div>
</div>

<script>
    function myFunction() {
      alert("Username must have a maximun of 30char, can not be a empty string and must not have spaces. Password must have a maximun of 25char, cant be an empty sytring and must not have spaces. The secret word cant have spaces and can not be an empty string.");
    }
    myFunction()
</script>
{%endblock%}